<a href="https://colab.research.google.com/github/Paulinohpp/Analise-de-Dados/blob/main/Continua%C3%A7%C3%A3o-01-Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Ex1: primeira forma
n = int(input('Digite um número inteiro: ')) #recebendo valor do usuário e o transformando em int
if (n == 10): # (se n for igual a 10 faça alguma coisa)
  print(f'{n} é igual a 10')
elif n > 10:
  print(f'{n} é maior que 10')
else:
  print(f'{n} é menor que 10')

In [ ]:
# Ex2
n1 = int(input('Informe um número inteiro: '))
n2 = int(input('Informe outro número inteiro: '))

if n1 > n2:
  print(f'{n1} é o maior número informado')
elif n1 < n2:
  print(f'{n2} é o maior número informado')
else:
  print(f'{n1} é igual a {n2}')

In [ ]:
# Ex 3
n3 = float(input('Digite um número real: ')) #recebendo valor do usuário e o transformando em float
if n3 >= 25 and n3 <= 200:
  print(f'{n3} está dentro do intervalo fechado entre 25 e 200')
else:
  print(f'{n3} não está dentro do intervalo fechado entre 25 e 200')

In [ ]:
# Ex4
n4 = float(input('Digite um número real: ')) #recebendo valor do usuário e o transformando em float
if n4 > 0:
  print(f'{n4} é um número positivo')
else:
  pass # comando que se aplica para não ecerrar o código e sim passar para a próxima linha de código

Digite um número real: 10
10.0 é um número positivo

In [ ]:
# Off Topic
n4 = float(input('Digite um número real: ')) #recebendo valor do usuário e o transformando em float
if n4 > 0:
  print(f'{n4} é um número positivo')
elif n4 <0:
    print(f'{n4} é um número negativo')
else:
  print(f'{n4} é um número neutro')

Digite um número real: -1
-1.0 é um número negativo

In [ ]:
# Ex 5
n5 = float(input('Informe um número: '))
if n5 % 7 == 0:
  print(f'{n5} é um número divisível por 7')
else:
  pass

Informe um número: 7
7.0 é um número divisível por 7

In [ ]:
# Ex6
n6 = int(input('Informe um número: '))
if n6 % 2 == 0:
  print('O número digitado é par.')
else:
  print('O número digitado é ímpar.')

Informe um número: 0
O número digitado é par.

In [ ]:
# Ex6b
n6 = int(input('Informe um número: '))
if n6 % 2 == 0 and n6 != 0:
  print(f'{n6} é um número par')
elif n6 % 2 != 0 and n6 != 0:
  print(f'{n6} é um número ímpar')
else:
  print(f'{n6} é zero e o professor viajou na maionese e não quer assumir como par e também é o número de casamentos futuros do professor')

Informe um número: 0
0 é zero e o professor viajou na maionese e não quer assumir como par e também é o número de casamentos futuros do professor

In [ ]:
# Ex7
l = input('Digite uma letra: ')
l = l.casefold()

if l == 'a' or l == 'e' or l == 'i' or l == 'o' or l == 'u':
  print(f'{l} é uma vogal')
else:
  print(f'{l} não é uma vogal')

Digite uma letra: U
u é uma vogal

In [ ]:
# Ex 8
nota1 = float(input('Informe a primeira nota: '))
nota2 = float(input('Informe a segunda nota: '))
nota3 = float(input('Informe a terceira nota: '))
media = (nota1 + nota2 + nota3) / 3
if media >= 7:
  print(f'Aprovado com média {media:.2f}')
else:
  print(f'Reprovado com média {media:.2f}')

Informe a primeira nota: 6
Informe a segunda nota: 5
Informe a terceira nota: 4
Reprovado com média 5.00

In [ ]:
# Ex 9
l1 = float(input('Informe o comprimento do 1º lado: '))
l2 = float(input('Informe o comprimento do 2º lado: '))
l3 = float(input('Informe o comprimento do 3º lado: '))

if l1 < (l2 + l3) and l2 < (l1 + l3) and l3 < (l2 + l1):
  tri = True
else:
  tri = False

if tri == True:
  print('A medidas informadas formam um triangulo')
else:
  print('''A medidas informadas não formam um triangulo, por favor digite
  medidas que formem um triângulo, lembrando que para que exista um triângulo
  a medida de um lado qualquer deve ser menor que a soma das medidas dos outros
  dois lados informado''')

# Código para caso as medidas formem um triangulo,faça sua classificação
if tri == True:
  if l1 == l2 and l2 == l3:
    print('O triângulo é equilátero, tem três lados iguais.')

  elif (l1 == l2 or l1 == l3 or l2 == l3): # and (l1 != l2 or l1 != l3 or l2 != l3): essa condição seria necessária caso não houvesse outra condicação antes dela que pegasse o caso de todos os lados iguais
    print('O triângulo é isósceles, tem dois lados iguais..')

  else:
    print('O triângulo é escaleno todos os lados diferentes.')
else:
  pass

Informe o comprimento do 1º lado: 3
Informe o comprimento do 2º lado: 4
Informe o comprimento do 3º lado: 5
A medidas informadas formam um triangulo
O triângulo é escaleno todos os lados diferentes.

In [ ]:
# Ex 10
age = int(input('Informe a sua idade em anos inteiros: '))
if 0 <= age <= 12: #( se 0 for menor ou igual a age e age for menor ou igual a 12)
  print('criança')
elif 13 <= age <= 17:
  print('adolescente')
elif 18 <= age <= 59:
  print('adulto')
else:
  print('idoso')

Informe a sua idade em anos inteiros: 63
idoso

In [ ]:
# EX 10
age = int(input('Informe a sua idade em anos inteiros: '))
if age <= 12: #( se 0 for menor ou igual a age e age for menor ou igual a 12)
  print('criança')
elif age <= 17:
  print('adolescente')
elif age <= 59:
  print('adulto')
else:
  print('idoso')

Informe a sua idade em anos inteiros: 63
idoso

Estruturas de dados em Python - parte 1 Listas

In [ ]:
# Lista é uma estrutura que pode armazenar diversos valores sobre um determinado atributo
lista_vazia = []
noivo = ['Zé','Mané','Ana','Fran','João','Franz']
print(f'Convidados do noivo - {noivo}')
idades = [41, 47, 46, 28, 17, 50]
print(f'Idades dos convidados do noivo {idades}')
massas = [86, 74, 52, 47, 90, 110]
print(f'Massas dos convidados do noivo {massas}')
alturas = [1.68, 1.74, 1.65, 1.65, 1.80, 1.97]
print(f'Alturas (em metros) dos convidados do noivo {alturas}')

Convidados do noivo - ['Zé', 'Mané', 'Ana', 'Fran', 'João', 'Franz']
Idades dos convidados do noivo [41, 47, 46, 28, 17, 50]
Massas dos convidados do noivo [86, 74, 52, 47, 90, 110]
Alturas (em metros) dos convidados do noivo [1.68, 1.74, 1.65, 1.65, 1.8, 1.97]

In [ ]:
print(f'Idades dos convidados do noivo {idades}')

Idades dos convidados do noivo [41, 47, 46, 28, 17, 50]

In [ ]:
# Acessando um elemento específico da lista a partir do seu índice
print(f'A convidada de honra é {noivo[3]}')
# Criar uma sublista com apenas os os três primeiros elementos da lita noivo
sublista = noivo[:3]
print(sublista)
p_u = [noivo[0], noivo[-1]]
print(f'O primeiro convidado é {p_u[0]} e o último convidado é {p_u[-1]}')
print(f'{noivo}')

A convidada de honra é Fran
['Zé', 'Mané', 'Ana']
O primeiro convidado é Zé e o último convidado é Franz
['Zé', 'Mané', 'Ana', 'Fran', 'João', 'Franz']

In [ ]:
# Método index(valor procurado, índice de ínicio da procura, e índice fim da procura) por definição se não for oferecido o índice de ínicio e fim será procurado na lista toda
id = noivo.index('Fran')

In [ ]:
# Qual é o imc da convidada Fran
print(f'O IMC da Fran é {(massas[id]/alturas[id]**2):.2f}')

O IMC da Fran é 17.26

Desafio 1':
Crie um programa que receba do usuário um nome e caso esse nome
esteja na lista guarde seu índice em uma variável e a utilize para buscar massa e altura correspondente, bem como calcular seu imc e após tudo isso informar o usuário, caso o nome não esteja na lista retorne uma mensagem informando o usuário

In [ ]:
idades = [41, 47, 46, 28, 17, 50]
massas = [86, 74, 52, 47, 90, 110]
alturas = [1.68, 1.74, 1.65, 1.65, 1.80, 1.97]
noivo = ['Zé','Mané','Ana','Fran','João','Franz'] # Cria o banco de dados com os nomes dos convidados do noivo
nome = input('Informe o nome que deseja consultar: ') #recebendo o nome do usuário
nome = nome.capitalize() #Deixo o nome que o usuário digitou com a primeira letra em caixa alta e as demais em caixa baixa
if nome in noivo: # se o nome que o usuário digitou estiver no banco de dados faça algo
  id2 = noivo.index(nome) # recebendo o argumento nome e procurando o seu índice já sabendo que ele está na lista exatmente com a mesma grafia
  imc = massas[id2]/alturas[id2]**2 # calculando o imc já sabendo a posição que deve busta em cada lista (massas e alturas)
  print(f'{nome} tem {massas[id2]} kg, {alturas[id2]} metros e seu imc é: {imc:.1f}') # Mostrando o nome digitado e seus respectivos massa, altura e imc
else:
  print(f'Desculpe, {nome} não está na lista, por favor reinicie o programa para consultar outro nome')

Informe o nome que deseja consultar: Ze
Desculpe, Ze não está na lista, por favor reinicie o programa para consultar outro nome

In [ ]:
d = []

In [ ]:
d.append(22)

In [ ]:
print(d)

[22, 22, 22, 22, 22]

In [ ]:
# Adicionando elementos em uma lista qualquer com o método append() por padrão este método insero o valor desejado em uma lista existente na última posição
lista_vazia = [] # cria uma lista vazia com o nome lista vazia e apaga todos os elementos de qualquer objeto com o mesmo nome
print(lista_vazia) # imprime uma lista vazia que já existe
lista_vazia.append('Joana') # adiciona Joana na última posição de uma lista que já exista
lista_vazia.append('Douglas')
lista_vazia.append('Eduardo')
lista_vazia.append('Ester')
lista_vazia.append('Daniela')
lista_vazia.append('Pedro')
lista_vazia.append('Maria')
print(lista_vazia) # imprime o status atual da lista vazia
fam = lista_vazia
print(lista_vazia)
print(fam)

[]
['Joana', 'Douglas', 'Eduardo', 'Ester', 'Daniela', 'Pedro', 'Maria']
['Joana', 'Douglas', 'Eduardo', 'Ester', 'Daniela', 'Pedro', 'Maria']
['Joana', 'Douglas', 'Eduardo', 'Ester', 'Daniela', 'Pedro', 'Maria']

In [ ]:
fam.insert(3, 'Tobias')
print(fam)

['Joana', 'Douglas', 'Eduardo', 'Tobias', 'Ester', 'Daniela', 'Pedro', 'Maria']

In [ ]:
fam[3] = 'Raimundo' # Atribuição direta insere um novo elemento substituindo o anterior se houver
print(fam)

['Joana', 'Douglas', 'Eduardo', 'Raimundo', 'Ester', 'Daniela', 'Pedro', 'Maria']

In [ ]:
# Excluindo elementos de uma lista
fam.pop() # método que exclui pelo índice, por padrão exclui o último elemento se não informarmos o índice
print(fam)

['Joana', 'Douglas', 'Eduardo', 'Raimundo', 'Ester', 'Daniela', 'Pedro']

In [ ]:
# Excluir Joana da lista fam pelo método pop
fam.pop(0)
print(fam)

['Douglas', 'Eduardo', 'Raimundo', 'Ester', 'Daniela', 'Pedro']

In [ ]:
# Excluir raimundo da lista fam pelo método remove
fam.remove('Raimundo')
print(fam)

['Douglas', 'Eduardo', 'Ester', 'Daniela', 'Pedro']